
application/config/email.php

.buildpath

.project

.settings/org.eclipse.php.core.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

application/config/database.php

application/config/database.php

application/config/database.php
