application/config/email.php

.buildpath

.project

.settings/org.eclipse.php.core.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.core.resources.prefs

files/header_aesp5.png

files/header_aesp6.png

files/carimbo_aesp.png

files/pato.jpg

application/config/database.php

application/config/database.php
